.hero-container { 
    height:100dvh;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url(../assets/thumbnail_image002.jpg);
    background-attachment: fixed;
    color: white;
    text-align: center;
}

.hero-text {
    position: relative;
    top: 50%;
}

.hero-text-header {
  font-size: 2.25em;
}

.hero-description {
  margin-top: 1%;
  font-size: 1.2em;
}

.font-secondary {
  font-family: var(--secondary-font-family);
}